*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #000099;
    color: #ffff00;
}
nav{
    padding: 20px;
}
.gamecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}
.container{
    padding: 5vh;
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    
}
.box{
    border: 5px solid  #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}